{% extends 'layouts/basefile/base.html' %}
{% block content %}
{% load static %}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title-box">
                    <h4 class="page-title">XForce</h4>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active">Welcome to XForce Dashboard</li>
                    </ol>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="float-right d-none d-md-block">
                    <div class="dropdown">
                        <a href="/xforce_settings/create_setting/"  class="btn btn-primary waves-effect waves-light" type="button"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-settings mr-2"></i> Settings

                    </a>
                        <!-- <div class="dropdown-menu dropdown-menu-right">
                            <a href="{% url 'company_list' %}" class="dropdown-item" href="#">Title Company</a>


                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">XForce Setting</a>

                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end page-title -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class=" shadow  mb-4">
                            <a href="{% url 'seller_list' %}">
                                <div class="card-body text-center">
                                    <img class=" img-fluid" src="{% static 'images/seller.png' %}" alt="Card image cap"
                                        width="100px">
                                    <h6 class="card-title ">Seller Leads</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class=" shadow mb-4">
                            <a href="{% url 'transaction_list' %}">
                                <div class="card-body text-center">
                                    <img class=" img-fluid" src="{% static 'images/transaction.png' %}"
                                        alt="Card image cap" width="100px">

                                    <h6 class="card-title ">Transactions</h6>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="shadow mb-4">
                            <a href="{% url 'View_Sales' %}">
                                <div class="card-body text-center">
                                    <img class="img-fluid" src="{% static 'images/sales.png' %}" alt="Card image cap"
                                        width="100px">

                                    <h6 class="card-title  ">Sales</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shadow mb-4">
                            <a href="{% url 'appointment_list' %}">
                                <div class="card-body text-center">
                                    <img class="img-fluid" src="{% static 'images/appointment.png' %}" alt="Card image"
                                        width="100px">

                                    <h6 class="card-title">Appointment</h6>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="shadow mb-4">
                            <a href="{% url 'buyerlist' %}">
                                <div class="card-body text-center">
                                    <img class="img-fluid" src="{% static 'images/cashbuyer.png' %}" alt="Card image"
                                        width="100px">

                                    <h6 class="card-title  ">Cash Buyers</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shadow mb-4">
                            <a href="#">
                                <div class="card-body text-center">
                                    <img class="img-fluid" src="{% static 'images/follow_up.png' %}"
                                        alt="Card image cap" width="100px">

                                    <h6 class="card-title  ">Follow Up</h6>
                                </div>
                            </a>


                        </div>
                    </div>

                </div> <!-- end row -->

            </div>
            <!-- container-fluid -->
        </div>
    </div>
    <!-- content -->
    <!-- XDSoft DateTimePicker -->
    <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />-->
    <link rel="stylesheet" href="{% static 'assets/css/datetime_library.css' %}">

    {% endblock %}
