{% extends 'layouts/basefile/base.html' %}
{% block content %}
{% load static %}



<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Home</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);"><i
                                    class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item active">Notifications</li>
                    </ol>
                </div>
            </div> <!-- end row -->
        </div>
        <!-- end page-title -->

        <div class="row">

            <div class="col-sm-9 col-md-9 col-lg-12">
                <!-- Nav tabs -->
                <!-- Tab panes start -->
                <div class="tab-content">
                    <!-- Manage Lists tab start-->
                    <div class="tab-pane active" id="manage-list" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <form id="my_form" action="{% url 'notification_status' %}" method="post">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Enable Tasks Notifications Via Email?</label><br>
                                                <label class="switch">
                                                    <input id="status" name="status" type="checkbox" {% if data.email_notification == True %} checked {% endif %} >
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Enable Tasks Notifications Via SMS?</label><br>
                                                <label class="switch">
                                                    <input id="sms-status" name="sms-status" type="checkbox"
                                                           {% if data.sms_notification == True %} checked {% endif %} >
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <button id="sub_btn" class="btn btn-primary waves-effect waves-light" type="submit">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div>
        <!-- container-fluid -->

    </div>
    </div>
    <!-- content -->

{% block extrajs %}

<script type="text/javascript">

</script>
{% endblock %}


{% endblock %}