
{% extends 'layouts/authbasefile/auth_base.html' %}
{% block auth_content %}
{% load static %}
        <div class="account-pages">
            <div class="container-fluid">
                <div class="row justify-content-center background_imgae_media_reset_page">
                    <div class="col-lg-8 left_banner_section_image  d-none d-lg-block d-xl-block auth_form_rest_page" style="background-image: url({% static 'assets/images/web-page.jpg' %});" >
                        <!-- <div class="row">
                         <a href="# " class="logo reg_logo_margin"><img
                             src="{% static 'assets/images/Prospect-X-Logo-new.png' %}" class="logo_image_width_reg" alt="logo" ></a>
                        </div> -->
                        <div class="banner_text_login_page" style="margin-top:57px; margin-left: 17px;">
                             <div>
                                 <h4 class="reg_banner_text_fst">Decide faster</h4>
                             </div> 
                             <div>
                                 <h3 class="reg_banner_text_scnd">So you can do more</h3>
                             </div>
                        </div>
                        <div class="button  button_code_regist_page fixed-bottom">
                         <button class="btn_color button_color_reg_page"><a href="" data-lightbox="iframe"><i class="fa fa-play button_font_color_reg"
                             ></i></a></i></button>
                              <b><span class="button_side_text_reg"> what is a ProspectX?</span></b>
                        </div>
        
                    </div>
                    <div class="col-md-8 col-lg-4 col-xl-4 rest_leftsection_margin ">
                        <div class="card shadow-none margin_none_rest_page bacgrnd_image_space">
                            <div class="bg_pattern_custom card-body border_color_reg_page reset_page_media">
                                <div class="text-center mt-4">
                                    <div class="mb-3">
                                        <a href="# " class="logo"><img src="{% static 'assets/images/prospectx-logo.png' %}" alt="logo"></a>
                                    </div>
                                </div>
                                <div class="p-3 reset_page_form_padding"> 
                                    <h4 class="font-18 mt-0 headline_colors">Forgot</h4><p class="headline_colors_next">Password</p>
                                    <!-- <h4 class="font-18 border_color_reg_page">Forgot </h4><p class="headline_colors_next">Password</p> -->
                                    <p class="text-primary mb-4 short_heading"> <b>
                                        Enter your Email and instructions will be sent to you!
                                    </b> </p>
                                     
                                    <form class="form-horizontal" method="post">
                                         {% csrf_token %}
                                        <div class="form-group">
                                            <label for="email" class="labels_color_reg_page">Email</label>
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" style="color:#566F9C ; border-color: #E7E8EE;">
                                            {% if form.email.errors %}
                                            <div class="text-danger">
                                              {{ form.email.errors | striptags }}
                                            </div>
                                             {% endif %}
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-12 text-right">
                                                <button class="btn btn-block btn-primary w-md waves-effect waves-light button_color_reg_page_register" type="submit">Send Confirmation Email</button>
                                            </div>
                                        </div>
    
                                    </form>
                
                                </div>
                                <div class="footer_txt_marginn text-center text-white-50">
                                    <p class="footer_text_color_reg_uppr">Remember It ? <a href="{% url 'login' %}" class="font-500  reg_link_back_logins"> Sign In here </a> </p>
                                    <p class="footer_text_color_reg">© 2020 ProspectX - All Rights Reserved</p>
                                </div>
                    
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>

        
{% endblock %}