
{% extends 'layouts/authbasefile/auth_base.html' %}
{% block auth_content %}
{% load static %}
        <div class="account-pages">
            <div class="container-fluid">
                <div class="row justify-content-center background_imgae_media_gmail">
                    <div class="col-lg-8 auth_form d-none d-lg-block d-xl-block"
                style="background-image: url({% static 'assets/images/web-page.jpg' %}); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="row">
                    <!-- <a href="# " class="logo" style="margin: 16px 42px;"><img
                            src="{% static 'assets/images/Prospect-X-Logo-new.png' %}" style="width: 30%;"
                            alt="logo"></a> -->
                </div>
                <div class="banner_text_login_page" style="margin-top:57px; margin-left: 17px;">
                    <div>
                        <h4 class="reg_banner_text_fst">Decide faster</h4>
                    </div>
                    <div>
                        <h3 class="reg_banner_text_scnd">So you can do more</h3>
                    </div>
                </div>
                <div class="button fixed-bottom button_code_login">
                    <button class="btn_color login_button_styling "><a href="" data-lightbox="iframe"><i class="fa fa-play login_vedio_button"
                                ></i></a></i></button>
                   <b> <span class="Decide_lover_color ml-2"> What is a ProspectX?</span></b>
                </div>

            </div>
                    <div class="col-md-8 col-lg-4 border col-xl-4 p-0 auth_form_left_side bg_pattern_short_image ">
                        <div class="card shadow-none bacgrnd_image_space" style="margin-bottom: 0px;">
                            <div class="card-body  border_color_reg_page bg_pattern_custom rest_gmail_page auth_hight_gail">
                                <div class="text-center mt-4">
                                    <div class="mb-3">
                                        <a href="# " class="logo"><img src="{% static 'assets/images/prospectx-logo.png' %}" alt="logo"></a>
                                    </div>
                                </div>
                                <div class="p-3">
                                    {% if validlink %}
                                    <h4 class="font-18 text-center mt-0 headline_colors">Reset
                                    </h4>
                                    <p class="text-center headline_colors_next">Password</p>
                                    <!-- <h4 class="font-18 text-center"> </h4> -->
                                    <form class="form-horizontal" method="post">
                                         {% csrf_token %}
                                        <div class="form-group mt-3">
                                            <label for="new_password1" class="labels_color_reg_page">New Password</label>
                                            <input type="password" class="form-control" style=" border-color: #E7E8EE;" id="new_password1" name="new_password1" placeholder="Enter New Password">
                                            {% if form.new_password1.errors %}
                                            <div class="text-danger">
                                              {{  form.new_password1.errors | striptags }}
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            <label for="new_password2" class="labels_color_reg_page">Confirm Password</label>
                                            <input type="password" class="form-control" style=" border-color: #E7E8EE;" id="new_password2" name="new_password2" placeholder="Confirm Password">
                                            {% if form.new_password2.errors %}
                                            <div class="text-danger">
                                              {{  form.new_password2.errors | striptags }}
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group row mt-3">
                                            <div class="col-12 text-right">
                                                <button class="btn btn-primary btn-block button_color_log_page_login w-md waves-effect waves-light" type="submit">Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                    {% else %}
                                        <h4 class="font-18 text-center">Password reset unsuccessful</h4>
                                        <div class="alert alert-success mt-4 mb-5 text-center" role="alert">
                                            The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                                        </div>
                                        <div class="text-center">
                                            <a href="/reset_password"><i class="mdi mdi-lock"></i> Request a new password reset token </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="mt-5 text-center">
                                    <p class="footer_text_color_reg_uppr">Remember It ? <a href="{% url 'login' %}" class="font-500 reg_link_back_logins "> Sign In here </a> </p>
                                    <p>© 2020 ProspectX - All Rights Reserved</p>
                                </div>
                    
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>

        
{% endblock %}