{% extends 'layouts/authbasefile/auth_base.html' %}
    {% block auth_content %}
    <table style="color: black; width:45%; border:0; cellspacing:0; cellpadding:0;" >
        <a href="http://{{ domain }}">
            <img src="http://{{ domain }}/static/assets/images/prospectx-logo.png" height="80" alt="logo">
        </a><br>
     <hr style="height:1px;border:none;color:lightgrey;background-color:lightgrey; border-color:lightgrey;" />
        <p>
        <h4>Dear {{ user.first_name}} {{ user.last_name}},</h4>

        You are receiving this email in response to a request on our website to reset the password for your account. <br><br>

        Please go to the following page and choose a new password:  <br>
        <b>http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</b> <br><br>

        Regards, <br>
        ProspectX Team
        </p>
        <hr style="height:1px;border:none;color:lightgrey;background-color:lightgrey;border-color:lightgrey;" />
        © 2020 ProspectX - All Rights Reserved
    </table>
{% endblock %}


