{% extends 'layouts/basefile/base.html' %}
{% block content %}
{% load static %}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-12">
                      <h4 class="page-title"><a href="{% url 'company_list'%}">Company</a></h4>
                    <ol class="breadcrumb">
                       <li class="breadcrumb-item"><a href="/x_force/" ><i
                                class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item active">View Company</li>
                    </ol>
                </div>

            </div> <!-- end row -->
        </div>
        <!-- end page-title -->

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form id="my_form" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
                            <div class="row">


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Title Company</label>
                                        <div>
                                            <input readonly value="{{ title|stringformat:'s' }}" placeholder="" required class="form-control"  name="title_company" type="text">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Escrow Officer</label>
                                        <div>
                                            <input readonly value="{{ escrow_officer|stringformat:'s' }}" placeholder="" required class="form-control"  name="entity_name" type="text">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <div>
                                            <input readonly value="{{ email|stringformat:'s' }}" placeholder="" required class="form-control"  name="email" type="text">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <div>
                                            <input readonly value="{{ phone_number|stringformat:'s' }}" placeholder="" required class="form-control"  name="phone" type="text">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <div>
                                            <input readonly value="{{ status|stringformat:'s' }}" placeholder="" required class="form-control"  name="status" type="text">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label> State</label>
                                        <div>
                                            <input readonly value="{{ state|stringformat:'s' }}" placeholder="" required class="form-control"  name="state" type="text">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Preferred Address</label>
                                        <div>
                                            <input readonly value="{{ address|stringformat:'s' }}" placeholder="" required class="form-control"  name="preferred_address" type="text">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                <!--<div>-->
                                    <!--<label>uploaded img </label><br>-->
                                    <!--<image  id="company_img" name="company_img" src="{{company_img}}" width="300" height="300">-->
                                <!--</div>-->
                            </div>


                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- end col -->
    <div class="col-md-2"></div>
</div> <!-- end row -->

</div>
<!-- container-fluid -->

</div>
<!-- content -->

<!-- content -->
<!--datetime picker css-->
<link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">

<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />

{% block extrajs %}
<!--//datetime picker new for market planer-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
<script>
    $(function () {
      $(".datetimepicker").datetimepicker({
        format: 'm/d/y H:m',
      });

      $("#datepicker1").datetimepicker({
        format: 'm/d/y',
      });
    });
  </script>



<script type="text/javascript">
$('#my_form').on('submit', function(){
       $("#sub_btn").hide();
       $('#sub_btn').delay(2000).show(0);
});

$(document).ready(function() {
    $("#hsh_off").hide();
    $('#resp').hide();
    $('#tl_units').hide();
    $('#tch').hide();
});

$('#planer').on('change', function(){
    let plan = $('#planer').val();
    if (plan !== "") {
        $("#hsh_off").show();
        $('#resp').show();
        $('#tl_units').show();
        $('#tch').show();
    } else {
        $("#hsh_off").hide();
        $('#resp').hide();
        $('#tl_units').hide();
        $('#tch').hide();
    }
});

</script>
{% endblock %}

{% endblock %}