{% extends 'layouts/basefile/base.html' %}
{% block content %}
{% load static %}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">View sequence</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);"><i
                                    class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item active">View Sequence</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-primary waves-effect waves-light float-right" type="button">
                        <i class="mdi mdi-plus mr-2"></i> Create Sequence
                    </button>
                </div>

            </div> <!-- end row -->
        </div>
        <!-- end page-title -->

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <table class="table  table-bordered dt-responsive nowrap"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <tbody>
                                <tr>
                                    <th><strong>ID</strong></th>
                                    <td>value </td>
                                </tr>
                                <tr>
                                    <th><strong>Sequence Name</strong></th>
                                    <td>value </td>
                                </tr>
                                <tr>
                                    <th><strong>Status</strong></th>
                                    <td>value </td>
                                </tr>
                                <tr>
                                    <th><strong>List</strong></th>
                                    <td>value </td>
                                </tr>
                                <tr>
                                    <th><strong>Plan</strong></th>
                                    <td>value </td>
                                </tr>
                                <tr>
                                    <th><strong>Next Follow up X Days</strong></th>
                                    <td>value </td>
                                </tr>
                                <tr>
                                    <th><strong> # Round Off</strong></th>
                                    <td>value </td>
                                </tr>
                                <tr>
                                    <th><strong>Details</strong></th>
                                    <td>value </td>
                                </tr>
                                <tr>
                                    <th><strong>Created By</strong></th>
                                    <td>value </td>
                                </tr>
                                <tr>
                                        <th><strong>Created At</strong></th>
                                        <td>value </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
            <div class="col-2"></div>
        </div> <!-- end row -->
    </div>
    <!-- container-fluid -->
</div>
<!-- content -->

{% block extrajs %}

<script type="text/javascript">


</script>
{% endblock %}

{% endblock %}
