{% extends 'layouts/authbasefile/auth_base.html' %}
{% block auth_content %}
    {% load static %}
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-pattern shadow-none">
                        <div class="card-body">
                            <div class="text-center mt-4">
                                <div class="mb-3">
                                    <a href="# " class="logo"><img
                                            src="{% static 'assets/images/prospectx-logo.png' %}"
                                            alt="logo"></a>
                                </div>
                            </div>
                            <div class="p-3">
                                <h4 class="font-18 text-center">Change Password</h4>
                                {% if message == "Password Changed Successfully!" %}
                                    <div class="alert alert-success mt-4 mb-5 text-center" role="alert">
                                        {{ message }}
                                    </div>
                                {% elif message %}
                                    <div class="alert alert-danger mt-4 mb-5 text-center" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                                <form class="form-horizontal" action="change_password" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="old_password">Current Password</label>
                                        <input type="password" class="form-control" id="old_password"
                                               name="old_password" placeholder="Current Password">
                                        {% if form.old_password.errors %}
                                            <div class="alert">
                                                {{ form.old_password.errors | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="new_password">New Password</label>
                                        <input type="password" class="form-control" id="new_password"
                                               name="new_password" placeholder="New Password">
                                        {% if form.new_password.errors %}
                                            <div class="alert">
                                                {{ form.new_password.errors | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm_new_password">Confirm New Password</label>
                                        <input type="password" class="form-control" id="confirm_new_password"
                                               name="confirm_new_password" placeholder="Confirm New Password">
                                        {% if form.confirm_new_password.errors %}
                                            <div class="alert">
                                                {{ form.confirm_new_password.errors | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {{ form.non_field_errors | striptags }}

                                    <div class="form-group row">
                                        <div class="col-12 text-right">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">
                                                Change Password
                                            </button>
                                        </div>
                                    </div>

                                </form>

                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center text-white-50">
                        <p>Back to <a href="home" class="font-500 text-white"> Home </a></p>
                        <p>© 2020 ProspectX - All Rights Reserved</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}