{% extends 'layouts/basefile/base.html' %}
{% block content %}
<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <h4 class="page-title">Change Password</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);"><i
                                    class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </div>
            </div> <!-- end row -->
        </div>
        <!-- end page-title -->

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal" method="post">
                            {% csrf_token %}
                            <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label required" for="User_password">Password <span
                                            class="required">*</span></label>
                                    <input class="form-control" required name="User_password" id="User_password"
                                        type="password" maxlength="255" value="">
                                    <div class="help-block animation-slideUp form-error" id="User_password_em_"
                                        style="display:none"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label required" for="User_confirmPassword">Confirm Password
                                        <span class="required">*</span></label>
                                    <input class="form-control" required name="User_confirmPassword"
                                        id="User_confirmPassword" type="password">
                                    <div class="help-block animation-slideUp form-error" id="User_confirmPassword_em_"
                                        style="display:none"></div>
                                    {% if messages %}
                                    {% for message in messages %}
                                    <p>{{ message }}</p> 
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-12"> 
                                <input class="btn btn-primary waves-effect waves-light per_submit" name="profile_sub" type="submit"
                                    value="Save changes"> 
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
    <!-- container-fluid -->

</div>
<!-- content -->

{% endblock %}